.tag-container {
  border: solid 1px black;
  border-radius: 20px;
  width: 40%;
  padding: 5%;
  margin-left: 50vw;
}

.tag-container__tag {
  border: solid 3px grey;
  border-radius: 20px;
  padding: 1%;
  background-color: whitesmoke;
  color: rgb(88 86 86);
}

.bookmark {
  position: relative;
}

.bookmark__button {
  width: 60px;
  height: auto;
  position: absolute;
  right: 0;
  top: -1vh;
  border: none;
  z-index: 0;
  background-color: var(--highlight);
  background: none;
}

.bookmark-button__image {
  width: 60px;
  height: auto;
  filter: invert(50%);
}

.bookmark-button__image:hover {
  filter: none;
  background: yellow;
}

.bookmark-button__image--marked {
  filter: none;
}
