nav {
  background-color: white;
  position: fixed;
  bottom: 1%;
  left: auto;
  z-index: 10;
}

body {
  margin-bottom: 100px;
}

header {
  background-color: white;
  position: fixed;
  top: 1%;
  left: auto;
  width: 95vw;
  z-index: 10;
}

h2:hover {
  background-color: var(--highlight);

  /* rgb(255, 255, 0); */
}

p:hover {
  background-color: var(--highlight);
}

u:hover {
  background-color: var(--highlight);
}

section {
  border-top-style: dashed;
  border-color: black;
  width: 100%;
  margin: 3%;
  max-width: 80vw;
}

section:first-child {
  margin-top: 100px;
}

section:last-child {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

input {
  width: 80%;
}
