nav {
  background-color: white;
  position: fixed;
  bottom: 1%;
  left: auto;
}

header {
  background-color: white;
}

h2:hover {
  background-color: rgb(255, 255, 0);
}

p:hover {
  background-color: var(--highlight);
}

section {
  border-top-style: dashed;
  border-color: black;
  width: 100%;
  margin: 3%;
}

section:last-child {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

input {
  width: 80%;
}
