@import './global.css';
@import './boxes.css';
@import './images.css';
@import './bookmarkTags.css';

:root {
  --highlight: rgb(255 255 0 / 70%);
}

.testJs-class {
  color: blue;
  background-color: rgb(0 0 255 / 16.7%);
}

.hide-it {
  display: none;
}

.active {
  display: block;
}
