@import "./global.css";
@import "./boxes.css";
@import "./images.css";
@import "./bookmarkTags.css";

:root {
  --highlight: rgba(255, 255, 0, 0.7);
}

.testJs-class {
  color: blue;
  background-color: rgba(0, 0, 255, 0.167);
}

.hide-it {
  display: none;
}

.active {
  display: block;
}
